/* 右半部分 */
.rightSide {
  padding: 168px 120px;
}

.login_info {
  padding: 24px 0;
}

.title {
  margin: 0px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.88);
}

.typography-secondary {
  color: rgba(0, 0, 0, 0.45);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.registerbtn {
  padding: 0px;
  color: var(--primary-color);
  height: 32px;
  border-radius: 6px;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  font-size: 14px;
  font-weight: 500;
}

.alert_info {
  background-color: #e6ffff;
  border: 1px solid #7af8ff;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  line-height: 1.57;
  font-size: 14px;
}

.alert_icon {
  color: #00b8d9;
  margin-inline-end: 8px;
}

.item {
  margin-bottom: 24px;
}

.item_input {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.item_input_content {
  flex: auto;
  max-width: 100%;
}

.inputSpan {
  width: 100%;
  padding: 7px 11px;
  min-width: 0;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  display: inline-flex;
  box-sizing: border-box;
  min-height: 24px;
}

.item_icon {
  margin-inline-end: 8px;
  opacity: 0.6;
}

.input {
  flex: auto;
  border: none;
  outline: none;
  font-size: 16px;
  opacity: 0.88;
}

.item_explain_error {
  color: #ff5630;
  font-size: 15px;
  position: absolute;
  display: none;
}

.iconfont {
  font-size: 18px !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
  display: inline-flex;
  font-size: 16px;
  text-align: center;
}

.fr {
  float: right;
  font-size: 16px;
}

.submitBtn {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  background-color: #212b36;
  padding: 7px 11px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  border: 0;
  transition: all 0.3s;
}

.green {
  border: 1px solid #00a76f;
  box-shadow: 0 0 2px rgba(2, 123, 60, 0.19);
}

.red {
  border: 1px solid #ff5630;
  box-shadow: 0 0 2px rgba(2, 123, 60, 0.19);
}

.bgcolor {
  background-color: var(--primary-color);
}

input[type="checkbox"],
[type="radio"] {
  accent-color: var(--primary-color);
  width: 16px;
  height: 16px;
  cursor: pointer;
}